body {
    font-family: monospace;
    background-color: rgb(178, 178, 178);
}

input {
    caret-color: grey;
    border-color: grey;
    border-style: solid;
    padding: 10px;
    margin: 0px 20px;
    margin-bottom: 15px;
    font-size: 13px;
    border-radius: 8px;
    height: 15px;
    width: 250px;
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    color: rgb(62, 62, 62);
    font-weight: 1000;
    margin-bottom: 40px;
}

label {
    color: rgb(62, 62, 62);
    display: block;
    font-weight: bold;
    margin-left: 30px;
}

button {
    background-color: rgb(108, 255, 255);
    color: rgb(61, 61, 61);
    font-weight: bold;
    border: 0;
    border-radius: 12px;
    font-size: 16px;
    height: 50px;
    width: 100px;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(249, 186, 197);
    border-radius: 20px;
    margin-top: 50px;
    height: 500px;
    width: 700px;
}

.header {
    text-align: center;
    width: 100%;
}

.components {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
}

.submitButton {
    display: flex;
    justify-content: center;
    width: 100%;
}
