body {
    font-family: monospace;
    background-color: rgb(178, 178, 178);
}

input {
    caret-color: grey;
    border-color: grey;
    border-style: solid;
    padding: 10px;
    margin: 0px 20px;
    font-size: 13px;
    border-radius: 5px;
    height: 15px;
    width: 250px;
}

h1 {
    color: rgb(62, 62, 62);
    font-weight: 1000;
}

label {
    color: rgb(62, 62, 62);
    display: block;
    font-weight: bold;
    margin-left: 30px;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(249, 186, 197);
    border-radius: 20px;
    margin-top: 50px;
    height: 700px;
    width: 700px;
}

.header {
    text-align: center;
    width: 100%;
}

.components {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 100%;
}